[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
phidata = "*"
python-dotenv = "*"
yfinance = "*"
packaging = "*"
duckduckgo-search = "*"
fastapi = "*"
uvicorn = "*"
groq = "*"

[dev-packages]

[requires]
python_version = "3.12"
